
/* Landing/Home */
#n26_2 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(255, 255, 255);
}
 
	/* Vector */
	#n52_1161 {
		left: -2203px;
		width: 6908.34px;
		top: -1269px;
		height: 3510.62px;
	}
 
	/* Meetings made easy. */
	#n26_33 {
		font-family: Futura;
		font-size: 72px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 728px;
		transform: translate(0px, 0px);
		line-height: 84.375px;
		height: 46px;
		left: 356px;
		top: 191px;
	}
 
	/* Circal is a smart scheduling software for the workplace to make lives easier and teams more efficient. */
	#n26_34 {
		font-family: Futura;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 509px;
		transform: translate(0px, 0px);
		line-height: 21.0938px;
		height: 52px;
		left: 457px;
		top: 301px;
	}
 
	/* Rectangle 4 */
	#n26_35 {
		background: rgb(238, 241, 245);
		border-radius: 40px;
		left: 592px;
		width: 250px;
		top: 371px;
		height: 57px;
	}
 
	/* sign in */
	#n26_36 {
		font-family: Futura;
		font-size: 22px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(255, 146, 158);
		vertical-align: middle;
		justify-content: flex-start;
		width: 81px;
		transform: translate(0px, 0px);
		line-height: 25.7812px;
		height: 29px;
		left: 684px;
		top: 385px;
	}
 
	/* Rectangle 4 */
	#n26_39 {
		background: rgb(250, 250, 250);
		border-radius: 30px;
		box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 50px 0px;
		left: 403px;
		width: 597px;
		top: 502px;
		height: 477px;
	}
 
	/* Rectangle 13 */
	#n102_13 {
		background: rgb(250, 250, 250);
		border-radius: 30px;
		box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 50px 0px;
		left: 403px;
		width: 597px;
		top: 502px;
		height: 477px;
	}
 
	/* video demo */
	#n26_40 {
		font-family: Futura;
		font-size: 30px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(191, 191, 191);
		vertical-align: middle;
		justify-content: flex-start;
		width: 161px;
		transform: translate(0px, 0px);
		line-height: 35.1562px;
		height: 40px;
		left: 624px;
		top: 714px;
	}
 
 
		/* Rectangle 7 */
		#n43_1 {
			background: rgba(255, 255, 255, 0.88);
			width: 1440px;
			top: -10px;
			height: 117px;
		}
 
		/* Rectangle 8 */
		#n43_2 {
			background: rgba(255, 255, 255, 0.88);
			box-shadow: rgba(175, 131, 131, 0.23) 0px 4px 50px 0px;
			width: 1440px;
			top: -10px;
			height: 117px;
		}
 
		/* circal */
		#n26_37 {
			font-family: Futura;
			font-size: 50px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			width: 235px;
			transform: translate(0px, 0px);
			line-height: 58.5938px;
			height: 22px;
			left: 95px;
			top: 20px;
		}
 
		/* O */
		#n26_38 {
			font-family: Lovelo;
			font-size: 60px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			width: 329px;
			transform: translate(0px, 0px);
			line-height: 70.3125px;
			height: 31px;
			left: 29px;
			top: 32px;
		}
 
		/* O */
		#n41_0 {
			font-family: Lovelo;
			font-size: 60px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			width: 329px;
			transform: translate(0px, 0px);
			line-height: 70.3125px;
			height: 31px;
			left: 30px;
			top: 32px;
		}
 
		/* contact */
		#n79_3 {
			font-family: Futura;
			font-size: 28px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			width: 96px;
			transform: translate(0px, 0px);
			line-height: 32.8125px;
			height: 29px;
			left: 1294px;
			top: 36px;
		}
 
		/* about */
		#n79_2 {
			font-family: Futura;
			font-size: 28px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			width: 76px;
			transform: translate(0px, 0px);
			line-height: 32.8125px;
			height: 29px;
			left: 1204px;
			top: 35px;
		}
 
		/* pricing */
		#n79_1 {
			font-family: Futura;
			font-size: 28px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			width: 97px;
			transform: translate(0px, 0px);
			line-height: 32.8125px;
			height: 29px;
			left: 1098px;
			top: 35px;
		}
 
		/* features */
		#n79_0 {
			font-family: Futura;
			font-size: 28px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			justify-content: flex-start;
			width: 104px;
			transform: translate(0px, 0px);
			line-height: 32.8125px;
			height: 29px;
			left: 980px;
			top: 35px;
		}
 
	/* 11 million meetings in America everyday */
	#n26_43 {
		align-items: normal;
		color: rgb(177, 181, 197);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 223px;
		transform: translate(0px, 0px);
		line-height: 21.0938px;
		height: 196px;
		left: 169px;
		top: 1162px;
	}
 
		/* 11 million meetings in America everyday Subset */
		#n26_43-3071 {
			font-family: Futura;
			font-size: 96px;
			font-weight: 500;
			line-height: 21.0938px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(177, 181, 197);
		}
 
		/* 11 million meetings in America everyday Subset */
		#n26_43-undefined {
			font-family: Futura;
			font-size: 18px;
			font-weight: 500;
			line-height: 21.0938px;
			letter-spacing: 0px;
			align-items: normal;
		}
 
	/* $399.1 billion loss in USA for poorly organized meetings. (Yes. Billions.) */
	#n26_44 {
		align-items: normal;
		color: rgb(177, 181, 197);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 335px;
		transform: translate(0px, 0px);
		line-height: 21.0938px;
		height: 184px;
		left: 539px;
		top: 1162px;
	}
 
		/* $399.1 billion loss in USA for poorly organized meetings. (Yes. Billions.) Subset */
		#n26_44-2494 {
			font-family: Futura;
			font-size: 96px;
			font-weight: 500;
			line-height: 21.0938px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(177, 181, 197);
		}
 
		/* $399.1 billion loss in USA for poorly organized meetings. (Yes. Billions.) Subset */
		#n26_44-undefined {
			font-family: Futura;
			font-size: 18px;
			font-weight: 500;
			line-height: 21.0938px;
			letter-spacing: 0px;
			align-items: normal;
		}
 
	/* 4.8 hours/week per professional spent setting up meetings */
	#n26_45 {
		align-items: normal;
		color: rgb(177, 181, 197);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 335px;
		transform: translate(0px, 0px);
		line-height: 21.0938px;
		height: 184px;
		left: 963px;
		top: 1162px;
	}
 
		/* 4.8 hours/week per professional spent setting up meetings Subset */
		#n26_45-2494 {
			font-family: Futura;
			font-size: 96px;
			font-weight: 500;
			line-height: 21.0938px;
			letter-spacing: 0px;
			align-items: normal;
			color: rgb(177, 181, 197);
		}
 
		/* 4.8 hours/week per professional spent setting up meetings Subset */
		#n26_45-undefined {
			font-family: Futura;
			font-size: 18px;
			font-weight: 500;
			line-height: 21.0938px;
			letter-spacing: 0px;
			align-items: normal;
		}
 
	/* The problem is in the numbers */
	#n26_46 {
		font-family: Futura;
		font-size: 36px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(105, 108, 117);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 506px;
		transform: translate(0px, 0px);
		line-height: 42.1875px;
		height: 22px;
		left: 457px;
		top: 1067px;
	}
 
	/* Rectangle 10 */
	#n73_2 {
		background: rgb(238, 241, 245);
		border-radius: 30px;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 30px 0px;
		left: 37px;
		width: 1346px;
		top: 2376px;
		height: 420px;
	}
 
	/* Get your busines started with Circal */
	#n75_0 {
		font-family: Futura;
		font-size: 64px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(177, 181, 197);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 553px;
		transform: translate(0px, 0px);
		line-height: 75px;
		height: 170px;
		left: 443px;
		top: 2388px;
	}
 
	/* Rectangle 11 */
	#n77_1 {
		background: rgb(144, 247, 236);
		border-radius: 300px;
		left: 127px;
		width: 482px;
		top: 2625px;
		height: 97px;
	}
 
	/* Rectangle 12 */
	#n77_2 {
		background: rgb(206, 159, 252);
		border-radius: 300px;
		left: 783px;
		width: 482px;
		top: 2625px;
		height: 97px;
	}
 
	/* request demo */
	#n77_3 {
		font-family: Futura;
		font-size: 36px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(87, 90, 137);
		vertical-align: middle;
		justify-content: flex-start;
		width: 263px;
		transform: translate(0px, 0px);
		line-height: 42.1875px;
		height: 29px;
		left: 263px;
		top: 2650px;
	}
 
	/* request demo */
	#n77_4 {
		font-family: Futura;
		font-size: 36px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-start;
		width: 263px;
		transform: translate(0px, 0px);
		line-height: 42.1875px;
		height: 29px;
		left: 263px;
		top: 2650px;
	}
 
	/* contact us */
	#n77_5 {
		font-family: Futura;
		font-size: 36px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-start;
		width: 263px;
		transform: translate(0px, 0px);
		line-height: 42.1875px;
		height: 29px;
		left: 946px;
		top: 2650px;
	}
 
	/* Vector */
	#n77_7 {
		left: -1636px;
		width: 6787.84px;
		top: 2236px;
		height: 1470.55px;
	}
 
 
		/* Rectangle 5 */
		#n32_2 {
			left: -3.1792px;
			width: 1460.79px;
			top: 1397px;
			height: 867.067px;
		}
 
		/* Features */
		#n52_1179 {
			font-family: Futura;
			font-size: 64px;
			font-weight: 500;
			letter-spacing: 0px;
			color: rgb(108, 111, 122);
			vertical-align: middle;
			justify-content: flex-start;
			width: 426px;
			transform: translate(0px, 0px);
			line-height: 75px;
			height: 66px;
			left: 574px;
			top: 1434px;
		}
 
		/* Ellipse 1 */
		#n67_13 {
			width: 112px;
			height: 112px;
			box-shadow: rgb(175, 180, 195) 0px 5px 15px 0px;
			left: 192px;
			top: 1593px;
		}
 
		/* Ellipse 4 */
		#n67_16 {
			width: 112px;
			height: 112px;
			box-shadow: rgb(175, 180, 195) 0px 5px 15px 0px;
			left: 192px;
			top: 1888px;
		}
 
		/* Ellipse 5 */
		#n67_17 {
			width: 112px;
			height: 112px;
			box-shadow: rgb(175, 180, 195) 0px 5px 15px 0px;
			left: 1124px;
			top: 1593px;
		}
 
		/* Ellipse 2 */
		#n67_14 {
			width: 112px;
			height: 112px;
			box-shadow: rgb(175, 180, 195) 0px 5px 15px 0px;
			left: 1124px;
			top: 1888px;
		}
 
		/* 2-way calendar sync Retrieve and add events to your calendar automatically. */
		#n67_18 {
			align-items: normal;
			color: rgb(119, 119, 119);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 324px;
			transform: translate(0px, 0px);
			line-height: 28.125px;
			height: 89px;
			left: 90px;
			top: 1717px;
		}
 
			/* 2-way calendar sync Retrieve and add events to your calendar automatically. Subset */
			#n67_18-12 {
				font-family: Futura;
				font-size: 28px;
				font-weight: 500;
				line-height: 28.125px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
			/* 2-way calendar sync Retrieve and add events to your calendar automatically. Subset */
			#n67_18-undefined {
				font-family: Futura;
				font-size: 24px;
				font-weight: 500;
				line-height: 28.125px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
		/* Meeting Agenda Pre-meeting agenda created by meeting organizer */
		#n67_20 {
			align-items: normal;
			color: rgb(119, 119, 119);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 328px;
			transform: translate(0px, 0px);
			line-height: 35.1562px;
			height: 90px;
			left: 1024px;
			top: 1718px;
		}
 
			/* Meeting Agenda Pre-meeting agenda created by meeting organizer Subset */
			#n67_20-12 {
				font-family: Futura;
				font-size: 28px;
				font-weight: 500;
				line-height: 35.1562px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
			/* Meeting Agenda Pre-meeting agenda created by meeting organizer Subset */
			#n67_20-10 {
				font-family: Futura;
				font-size: 24px;
				font-weight: 500;
				line-height: 35.1562px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
		/* Smart Meeting Scheduling Automatic sync within circles (teams) and lists free times available to create meetings. */
		#n67_19 {
			align-items: normal;
			color: rgb(119, 119, 119);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 400px;
			transform: translate(0px, 0px);
			line-height: 37.5px;
			height: 76px;
			left: 980px;
			top: 2015px;
		}
 
			/* Smart Meeting Scheduling Automatic sync within circles (teams) and lists free times available to create meetings. Subset */
			#n67_19-13 {
				font-family: Futura;
				font-size: 28px;
				font-weight: 500;
				line-height: 37.5px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
			/* Smart Meeting Scheduling Automatic sync within circles (teams) and lists free times available to create meetings. Subset */
			#n67_19-12 {
				font-family: Futura;
				font-size: 24px;
				font-weight: 500;
				line-height: 37.5px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
		/* Meeting Statistics Send anonymous meeting feedback which will be summarized into statistics for organizer. */
		#n67_22 {
			align-items: normal;
			color: rgb(119, 119, 119);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 400px;
			transform: translate(0px, 0px);
			line-height: 37.5px;
			height: 140px;
			left: 57px;
			top: 2005px;
		}
 
			/* Meeting Statistics Send anonymous meeting feedback which will be summarized into statistics for organizer. Subset */
			#n67_22-14 {
				font-family: Futura;
				font-size: 28px;
				font-weight: 500;
				line-height: 37.5px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
			/* Meeting Statistics Send anonymous meeting feedback which will be summarized into statistics for organizer. Subset */
			#n67_22-13 {
				font-family: Futura;
				font-size: 24px;
				font-weight: 500;
				line-height: 37.5px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
		/* undraw_progress_overview_2dik 1 */
		#n69_2 {
			width: 350px;
			height: 354px;
			overflow: hidden;
			left: 552px;
			top: 1675px;
		}
 
			/* Vector */
			#n69_3 {
				left: 66.7155%;
				right: -8.71931e-06%;
				top: 94.48%;
			}
 
			/* Vector */
			#n69_5 {
				left: 79.5686%;
				right: 15.8626%;
				top: 25.81%;
				bottom: 68.48%;
			}
 
			/* Vector */
			#n69_6 {
				left: 74.8367%;
				right: 15.3162%;
				top: 15.53%;
				bottom: 72.36%;
			}
 
			/* Vector */
			#n69_7 {
				left: 83.315%;
				right: 11.2314%;
				top: 39.51%;
				bottom: 52.84%;
			}
 
			/* Vector */
			#n69_8 {
				left: 86.9243%;
				right: 9.8961%;
				top: 45%;
				bottom: 50.79%;
			}
 
			/* Vector */
			#n69_9 {
				left: 87.3689%;
				right: 9.40843%;
				top: 47.06%;
				bottom: 48.63%;
			}
 
			/* Vector */
			#n69_10 {
				left: 84.5485%;
				right: 9.51209%;
				top: 61.03%;
				bottom: 6.88%;
			}
 
			/* Vector */
			#n69_11 {
				left: 69.3804%;
				right: 17.0048%;
				top: 62.74%;
				bottom: 9.17%;
			}
 
			/* Vector */
			#n69_12 {
				left: 76.3705%;
				right: 7.35485%;
				top: 45.56%;
				bottom: 35.37%;
			}
 
			/* Vector */
			#n69_13 {
				left: 85.8278%;
				right: 2.64025%;
				top: 89.68%;
				bottom: 2.67%;
			}
 
			/* Vector */
			#n69_14 {
				left: 67.6187%;
				right: 27.5636%;
				top: 88.79%;
				bottom: 1.37%;
			}
 
			/* Vector */
			#n69_15 {
				left: 76.0964%;
				right: 17.7815%;
				top: 18.27%;
				bottom: 74.08%;
			}
 
			/* Vector */
			#n69_16 {
				left: 77.5127%;
				right: 18.7409%;
				top: 24.21%;
				bottom: 69.22%;
			}
 
			/* Vector */
			#n69_17 {
				left: 74.3803%;
				right: 12.5884%;
				top: 27.33%;
				bottom: 52.65%;
			}
 
			/* Vector */
			#n69_18 {
				left: 78.1855%;
				right: 18.3173%;
				top: 53.36%;
				bottom: 43.28%;
			}
 
			/* Vector */
			#n69_19 {
				left: 71.646%;
				right: 18.9237%;
				top: 29.75%;
				bottom: 42.85%;
			}
 
			/* Vector */
			#n69_20 {
				left: 85.7821%;
				right: 12.2076%;
				top: 40.88%;
				bottom: 54.44%;
			}
 
			/* Vector */
			#n69_21 {
				left: 81.7625%;
				right: 15.4065%;
				top: 50.9%;
				bottom: 36.14%;
			}
 
			/* Vector */
			#n69_22 {
				left: 75.4568%;
				right: 17.5987%;
				top: 17.25%;
				bottom: 77.05%;
			}
 
			/* Vector */
			#n69_23 {
				right: 48.4301%;
				bottom: 16.98%;
			}
 
			/* Vector */
			#n69_24 {
				left: 1.43251%;
				right: 49.8626%;
				top: 10.65%;
				bottom: 68.55%;
			}
 
			/* Vector */
			#n69_25 {
				left: 1.43251%;
				right: 49.8626%;
				top: 35.03%;
				bottom: 44.17%;
			}
 
			/* Vector */
			#n69_26 {
				left: 1.43251%;
				right: 49.8626%;
				top: 59.41%;
				bottom: 19.79%;
			}
 
			/* Vector */
			#n69_27 {
				left: 47.477%;
				right: 49.7944%;
				top: 1.53%;
				bottom: 95.06%;
			}
 
			/* Vector */
			#n69_28 {
				left: 4.53624%;
				right: 92.7352%;
				top: 43.73%;
				bottom: 52.86%;
			}
 
			/* Vector */
			#n69_29 {
				left: 9.85693%;
				right: 77.3188%;
				top: 44.07%;
				bottom: 53.21%;
			}
 
			/* Vector */
			#n69_30 {
				left: 28.7863%;
				right: 68.4851%;
				top: 43.81%;
				bottom: 52.78%;
			}
 
			/* Vector */
			#n69_31 {
				left: 34.1071%;
				right: 53.0687%;
				top: 44.15%;
				bottom: 53.12%;
			}
 
			/* Vector */
			#n69_32 {
				left: 48.1309%;
				right: 50.4483%;
				top: 2.35%;
				bottom: 95.87%;
			}
 
			/* Vector */
			#n69_33 {
				left: 4.53624%;
				right: 92.7352%;
				top: 19.35%;
				bottom: 77.24%;
			}
 
			/* Vector */
			#n69_34 {
				left: 12.3809%;
				right: 52.9664%;
				top: 19.52%;
				bottom: 77.75%;
			}
 
			/* Vector */
			#n69_35 {
				left: 10.2662%;
				right: 58.6281%;
				top: 19.52%;
				bottom: 77.75%;
			}
 
			/* Vector */
			#n69_36 {
				background: rgb(230, 230, 230);
				left: 4.53624%;
				right: 92.7352%;
				top: 68.1%;
				bottom: 28.49%;
			}
 
			/* Vector */
			#n69_37 {
				background: rgb(230, 230, 230);
				left: 12.3809%;
				right: 52.9664%;
				top: 68.27%;
				bottom: 29%;
			}
 
			/* Vector */
			#n69_38 {
				background: rgb(202, 202, 202);
				left: 10.2662%;
				right: 70.2587%;
				top: 68.27%;
				bottom: 29%;
			}
 
			/* Vector */
			#n69_39 {
				background: rgb(191, 191, 191);
				left: 9.85693%;
				right: 86.0843%;
				top: 44.07%;
				bottom: 53.21%;
			}
 
			/* Vector */
			#n69_40 {
				background: rgb(191, 191, 191);
				left: 34.1071%;
				right: 57.8437%;
				top: 44.15%;
				bottom: 53.12%;
			}
 
		/* Vector */
		#n69_45 {
			left: 15.2778%;
			right: 80.8333%;
			top: 46.59%;
			bottom: 51.63%;
		}
 
		/* Vector */
		#n69_47 {
			left: 15.3472%;
			right: 80.7639%;
			top: 55.08%;
			bottom: 43.19%;
		}
 
		/* Vector */
		#n70_1 {
			left: 80.2778%;
			right: 16.3889%;
			top: 46.73%;
			bottom: 51.77%;
		}
 
		/* Vector */
		#n69_49 {
			left: 80.1389%;
			right: 16.0417%;
			top: 55.05%;
			bottom: 43.22%;
		}
 
	/* Contact us to learn about how Circal fits your business and pricing */
	#n79_60 {
		font-family: Futura;
		font-size: 28px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(119, 119, 119);
		vertical-align: middle;
		text-align: center;
		justify-content: center;
		width: 1200px;
		transform: translate(0px, 0px);
		line-height: 32.8125px;
		height: 36px;
		left: 138px;
		top: 2558px;
	}
 
	/* Rectangle 9 */
	#n70_2 {
		background: rgb(175, 180, 195);
		border-radius: 40px;
		left: 580px;
		width: 250px;
		top: 2117px;
		height: 57px;
	}
 
	/* learn more */
	#n70_3 {
		font-family: Futura;
		font-size: 22px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-start;
		width: 167px;
		transform: translate(0px, 0px);
		line-height: 25.7812px;
		height: 29px;
		left: 653px;
		top: 2130px;
	}
 
	/* circal */
	#n77_9 {
		font-family: Futura;
		font-size: 50px;
		font-weight: 500;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-start;
		width: 258px;
		transform: translate(0px, 0px);
		line-height: 58.5938px;
		height: 46px;
		left: 693px;
		top: 3342px;
	}
 
	/* O */
	#n77_10 {
		font-family: Lovelo;
		font-size: 60px;
		font-weight: 400;
		letter-spacing: 0px;
		color: rgb(255, 255, 255);
		vertical-align: middle;
		justify-content: flex-start;
		width: 361px;
		transform: translate(0px, 0px);
		line-height: 70.3125px;
		height: 34px;
		left: 635px;
		top: 3354px;
	}
